<div *ngIf="loading">
    
    <app-login (loginEvent)="onGetUserEvent($event)"></app-login>
</div>

<div *ngIf="!loading" class="container">
    <div class="d-flex flex-row justify-content-between">
        <button class="btn btn-primary m-2" (click)="createIn()">Check</button>
        <h3>Hello, {{userResponse.name}}</h3>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Day</th>
                <div>
                    <th class="px-5">Hour</th>

                    <th class="px-5"></th>
                </div>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sch of schedules">
            
                <td>{{sch.date | date:"dd"}}</td>
                <div class="d-flex flex-row" *ngFor="let s of sch.scheduleDtoFormated; let i = index">
                    <div *ngIf="i % 2 === 0">
                        <div *ngIf="i+1 < sch.scheduleDtoFormated.length">
                            <p class="px-5">[{{sch.scheduleDtoFormated[i].dateCheck | date:"HH:mm"}}]-[{{sch.scheduleDtoFormated[i+1].dateCheck | date:"HH:mm"}}]</p>
                        </div>
                    </div>
                </div>
                <td class="px-5">
                    <a [routerLink]="['/schedule','edit',sch.scheduleDtoFormated.id]"></a>
                    <button (click)="open(content, sch.scheduleDtoFormated)" class="btn btn-warning">Edit</button>
                    
            
                </td>
            
            </tr>
        </tbody>

    </table>

</div>


<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Date update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>

    <div *ngFor="let item of selectedDate; let i = index" class="d-flex flex-row">
        <div *ngIf="i % 2 === 0 && i+1 < selectedDate.length" class="row">
          <div class="col">
            <label for="hourIn">Hour In</label>
            <input name="hourIn" [ngModel]="selectedDate[i].dateCheck | date:'HH:mm'" class="form-control" />
          </div>
          <div class="col">
            <label for="hourOut">Hour Out</label>
            <input name="hourOut" [ngModel]="selectedDate[i+1].dateCheck | date:'HH:mm'" class="form-control" />
          </div>
        </div>
    </div>

	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>

<hr />

<pre>{{ closeResult }}</pre>
