<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Logout</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      
      <li class="nav-item">
        <a class="nav-link" routerLink="schedule">Schedule</a>
      </li>
      
    </ul>
  </div>
</nav>
<h1>To record your hour click in Schedule</h1>

<h3>How to use</h3>
<p>The user is already registered and their information is stored in the database.</p>
<p>The user needs to log in to the system using their email</p>
<p>Each two check the hour will apear, one to login and other to logout</p>
<router-outlet></router-outlet>
